# MacOS
.DS_Store

# Xcode
xcuserdata/
*.xcodeproj

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Visual Studio Code

.vscode/